<%# imported from Hyrax 2.5.1 to add glacier location %>
<h2><%= t(".file_details") %></h2>
<dl class="dl-horizontal file-show-term file-show-details">
  <dt><%= t(".depositor") %></dt>
  <dd itemprop="accountablePerson" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= link_to_profile @presenter.depositor %></span></dd>
  <dt><%= t(".date_uploaded") %></dt>
  <dd itemprop="datePublished"><%= @presenter.date_uploaded %></dd>
  <dt><%= t(".date_modified") %></dt>
  <dd itemprop="dateModified"><%= @presenter.date_modified %></dd>
  <%# added glacier location %>
  <% if current_user.admin? %>
    <dt><%= t(".glacier_archives") %></dt>
    <dd itemprop="glacierLocation">
      <% @presenter.glacier_locations.each_with_index do |location, index| %>
        <%= link_to location[:date], Rails.application.routes.url_helpers.glacier_sns_download_requests_path, remote: true, method: :post  %>
      <% end %>
    </dd>
  <% end %>
  <dt><%= t(".fixity_check") %></dt>
  <dd><%= @presenter.fixity_check_status %></dd>
  <dt><%= t(".characterization") %></dt>
  <dd>
    <% if @presenter.characterized? %>
      <%= render 'show_characterization_details' %>
    <% else %>
      <%= t(".not_yet_characterized") %>
    <% end %>
  </dd>
</dl>
