<style>
    .date_label {
        margin: 10px 2px 7px 10px;
    }
    .date_issued {
        min-width: 60px;
    }
</style>

<% model_type = f.object.model.class.to_s.underscore %>

<script type="text/javascript" charset="utf-8">
    var date_issued_cnt = 0;
    var cur_date_issued_num = 0;
    var date_issued_required = false;
    <% if f.object.required?(key) %>date_issued_required = true;<% end %>

    function adjust_date_issued_day(index) {
        let year = $('#date_issued_year_' + index).val();
        let month = parseInt($('#date_issued_month_' + index).val());
        let day = $('#date_issued_day_' + index);
        day.empty();

        // setting month to select if year is empty
        if (!year) {
            $('#date_issued_month_' + index).val("");
        }

        //get the last day, so the number of days in that month
        let days = new Date(year, month, 0).getDate();

        let day_elem = document.createElement("option");
        day_elem.value = "";
        day_elem.textContent = "Select";
        day.append(day_elem);

        //lets create the days of that month
        for (let d = 1; d <= days; d++) {
            let day_elem = document.createElement("option");
            day_elem.value = d;
            day_elem.textContent = d;
            day.append(day_elem);
        }
    }

    function initialize_date_issued(index, date_str) {
        const MONTH_NAMES = ["Select", "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        let input_year = "";
        let input_month = "";
        let input_day = "";
        let date = new Date();
        let cur_year = date.getFullYear();
        let year_elem = $('#date_issued_year_' + index);
        console.log('initialize_date_issued index ' + index + ' date_str [' + date_str +']');

        // generate the option year dynamically
        for (let y = 0; y <= (cur_year - 1940); y++) {
            let prev_year = document.createElement("option");
            prev_year.value = cur_year - y;
            prev_year.textContent = cur_year - y;
            year_elem.prepend(prev_year);
        }

        for (let y = 1; y < 3; y++) {
            let next_year = document.createElement("option");
            next_year.value = cur_year + y;
            next_year.textContent = cur_year + y
            year_elem.append(next_year);
        }

        let prev_year = document.createElement("option");
        prev_year.value = "";
        prev_year.textContent = "Select";
        year_elem.prepend(prev_year);

        // generate the option month dynamically
        for (let m = 0; m <= 12; m++) {
            let month = MONTH_NAMES[m];
            let month_elem = document.createElement("option");
            if (m == 0) {
                month_elem.value = "";
            }
            else {
                month_elem.value = m;
            }
            month_elem.textContent = month;
            $('#date_issued_month_' + index).append(month_elem);
        }


        if (date_str) {
            let y_m_d = date_str.split('-', 3);
            if (!isNaN(y_m_d[0])) {
                // year is a number, let check if it's a valid year
                let y = parseInt(y_m_d[0]);
                if (y < cur_year + 3 && y > 1900) {
                    // at least year seems to be valid
                    input_year = y;
                    if (!isNaN(y_m_d[1])) {
                        let m = parseInt(y_m_d[1]);
                        if (m >= 1 && m <= 12) {
                            input_month = m;
                            if (!isNaN(y_m_d[2])) {
                                let d = parseInt(y_m_d[2]);
                                if (d >= 1 && d <= 31) {
                                    input_day = d;
                                }
                            }
                        }
                    }
                }
            }
        }
        console.log('index ' + index + ' date_str ' + date_str + ' input_year ' + input_year + ' input_month ' + input_month + ' input_day ' + input_day);

        year_elem.val(input_year);
        $('#date_issued_month_' + index).val(input_month);
        year_elem.trigger("change");
        adjust_date_issued_day(index);
        $('#date_issued_day_' + index).val(input_day);

    }

    function any_empty_date_issued_year() {
        let retVal = false;
        $('.date_issued_year').each(function () {
            if ($(this).val() == '') {
                retVal = true;
                return false;
            }
        })
        return retVal;
    }

    function invalid_date_issued() {
        let retVal = false;
        if (date_issued_required) {
            retVal = true;
            $('.date_issued_year').each(function () {
                if ($(this).val() != '') {
                    retVal = false;
                    return false;
                }
            })
        }
        return retVal;
    }

    function date_issued_change() {
        toggle_submit(invalid_date_issued());
    }

    function date_issued_remove() {
        $('#date_issued_warning').addClass('d_none').attr('aria-hidden', 'true');
        if (date_issued_cnt > 1) {
          let div_parent = $(this).parent().parent();
          if (div_parent.length) {
              div_parent.remove();
              date_issued_cnt--;
              if (date_issued_cnt == 1) {
                  $('.date_issued_remove').addClass('d_none').attr('aria-hidden', 'true');
              }
          }
        }
    }

    function date_issued_add() {
        if (any_empty_date_issued_year()) {
            $('#date_issued_warning').removeClass('d_none').attr('aria-hidden', 'false');
            return;
        }

        $('#date_issued_warning').addClass('d_none').attr('aria-hidden', 'true');
        $('.date_issued_remove').removeClass('d_none').attr('aria-hidden', 'false');
        $('#date_issued_divs')
            .append(
                "<div id='date_issued_div_" + cur_date_issued_num + "' class='date_issued_div'>" +
                "  <input type='hidden' name='<%= model_type %>[date_issued][]' id='<%= key %>_" + cur_date_issued_num + "' class='date_issued_date_hidden' value='' />" +
                "  <label for='date_issued_year_" + cur_date_issued_num + "' class='date_label'><span class='sr-only'>date issued </span>Year</label>" +
                "  <select id='date_issued_year_" + cur_date_issued_num + "' class='date_issued date_issued_date date_issued_year' " +
                "          onclick='adjust_date_issued_day(" + cur_date_issued_num + ")'></select>" +
                "  <label for='date_issued_month_" + cur_date_issued_num + "' class='date_label'><span class='sr-only'>date issued </span>Month</label>" +
                "  <select id='date_issued_month_" + cur_date_issued_num + "' onclick='adjust_date_issued_day(" + cur_date_issued_num + ")' class='date_issued date_issued_date date_issued_month'></select>" +
                "  <label for='date_issued_day_" + cur_date_issued_num + "' class='date_label'><span class='sr-only'>date issued </span>Day</label>" +
                "  <select id='date_issued_day_" + cur_date_issued_num + "' class='date_issued date_issued_day'></select>" +
                "  <span class='date_label'>" +
                "    <button  type='button' class='btn btn-link remove date_issued_remove' aria-hidden='false'>" +
                "      <span class='glyphicon glyphicon-remove'></span>" +
                "      <span class='controls-remove-text'>Remove</span>" +
                "      <span class='sr-only'> date issued</span>" +
                "    </button>" +
                "  </span>" +
                "<div>");
        // initialize date selector
        initialize_date_issued(cur_date_issued_num, null);
        $('.date_issued_remove').on('click', date_issued_remove);
        $('.date_issued_year').on('change', date_issued_change);
        date_issued_cnt++;
        cur_date_issued_num++;
    }

    $(function () {
        console.log('date_issue ini');
        $('.date_issued_date_hidden').each(function () {
            date_issued_cnt++;
            console.log('inside date_issued loop');
            let index = $(this).prop('id').substring($(this).prop('id').lastIndexOf('_') + 1);
            let date_str = $(this).val();
            initialize_date_issued(index, date_str);
        });

        $('.date_issued_remove').on('click', date_issued_remove);

        cur_date_issued_num = date_issued_cnt;
        if (date_issued_cnt == 1) {
            $('.date_issued_remove').addClass('d_none').attr('aria-hidden', 'true');
        }
    });
</script>

<div id="<%= model_type %>_<%= key %>_div" class="form-group managed multi_value <% if f.object.required?(key) %>required<% end %>">
  <label class="control-label multi_value <% if f.object.required?(key) %> required <% end %>">
    <%= t("hydra_editor.form.model_label.#{key}") %>
    <% if f.object.required?(key) %><span class="label label-info required-tag">required</span><% end %>
  </label>
  <p id="<%= model_type %>_<%= key %>_help" class="help-block"><%= t('simple_form.hints.defaults.date_issued') %></p>
  <div id="date_issued_divs" aria-live="polite">
    <% f.object.date_issued.each_with_index do |element, index| %>
      <% date_issued_div_id = "date_issued_div_#{index}" %>
      <div id=<%= date_issued_div_id %> class="date_issued_div">
        <%= hidden_field_tag "#{model_type}[#{key}][]", element, id: "#{key}_#{index}", class: "date_issued_date_hidden" %>
        <label for="date_issued_year_<%= index %>" class="date_label">
          <span class="sr-only">date issued </span>
          Year
        </label>
        <select id=<%= "date_issued_year_#{index}" %>
                <% if f.object.required?(key) %>required="required"<% end %>
                onclick=<%= "adjust_date_issued_day(#{index})" %>
                aria-required="<%= f.object.required?(key) %>"
                class="date_issued date_issued_date date_issued_year multi_value <%= model_type %>_<%= key %> <% if f.object.required?(key) %>required<% end %>"></select>
        <label for=<%= "date_issued_month_#{index}" %> class="date_label">
          <span class="sr-only">date issued </span>
          Month
        </label>
        <select id=<%= "date_issued_month_#{index}" %> onchange=<%= "adjust_date_issued_day(#{index})" %> class="date_issued date_issued_date date_issued_month"></select>
        <label for=<%= "date_issued_day_#{index}" %> class="date_label">
          <span class="sr-only">date issued </span>
          Day
        </label>
        <select id=<%= "date_issued_day_#{index}" %> class="date_issued date_issued_day"></select>
        <span class="date_label">
          <button  type="button" class="btn btn-link remove date_issued_remove" aria-hidden="false">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="controls-remove-text">Remove</span>
            <span class="sr-only"> date issued</span>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="form-group multi_value">
    <div id="date_issued_warning" class="message has-warning warning_message d_none" aria-hidden="true">
      cannot add another with empty field
    </div>
    <div id="date_issued_add_div" class="">
      <button id="date_issued_add_btn" type="button" class="btn btn-link add" onclick="date_issued_add()">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="controls-add-text">Add another date issued</span>
      </button>
    </div>
  </div>
</div>
