<style>
    .date_label {
        margin: 10px 2px 7px 10px;
    }
    .date_issued {
        min-width: 60px;
    }
</style>

<% model_type = f.object.model.class.to_s.underscore %>

<script type="text/javascript" charset="utf-8">
    var date_issued_cnt = 0;
    var cur_date_issued_num = 0;
    var date_issued_required = false;
    <% if f.object.required?(key) %>date_issued_required = true;<% end %>

    $(function () {
        console.log('date_issue ini');
        $('.date_issued_date_hidden').each(function () {
            date_issued_cnt++;
            console.log('inside date_issued loop');
            let index = $(this).prop('id').substring($(this).prop('id').lastIndexOf('_') + 1);
            let date_str = $(this).val();
            initialize_date_issued(index, date_str);
        });

        $('.date_issued_remove').on('click', date_issued_remove);

        cur_date_issued_num = date_issued_cnt;
        if (date_issued_cnt == 1) {
            $('.date_issued_remove').addClass('d_none').attr('aria-hidden', 'true');
        }
    });
</script>

<div id="<%= model_type %>_<%= key %>_div" class="form-group managed multi_value <% if f.object.required?(key) %>required<% end %>">
  <label class="control-label multi_value <% if f.object.required?(key) %> required <% end %>">
    <%= t("simple_form.labels.defaults.#{key}") %>
    <% if f.object.required?(key) %><span class="label label-info required-tag">required</span><% end %>
  </label>
  <p id="<%= model_type %>_<%= key %>_help" class="help-block"><%= t('simple_form.hints.defaults.date_issued') %></p>
  <div id="date_issued_divs" aria-live="polite">
    <% f.object.date_issued.each_with_index do |element, index| %>
      <% date_issued_div_id = "date_issued_div_#{index}" %>
      <div id=<%= date_issued_div_id %> class="date_issued_div">
        <%= hidden_field_tag "#{model_type}[#{key}][]", element, id: "#{key}_#{index}", class: "date_issued_date_hidden" %>
        <label for="date_issued_year_<%= index %>" class="date_label">
          <span class="sr-only">date issued </span>
          Year
        </label>
        <select id=<%= "date_issued_year_#{index}" %>
                <% if f.object.required?(key) %>required="required"<% end %>
                onclick=<%= "adjust_date_issued_day(#{index})" %>
                aria-required="<%= f.object.required?(key) %>"
                class="date_issued date_issued_date date_issued_year multi_value <%= model_type %>_<%= key %> <% if f.object.required?(key) %>required<% end %>"></select>
        <label for=<%= "date_issued_month_#{index}" %> class="date_label">
          <span class="sr-only">date issued </span>
          Month
        </label>
        <select id=<%= "date_issued_month_#{index}" %> onchange=<%= "adjust_date_issued_day(#{index})" %> class="date_issued date_issued_date date_issued_month"></select>
        <label for=<%= "date_issued_day_#{index}" %> class="date_label">
          <span class="sr-only">date issued </span>
          Day
        </label>
        <select id=<%= "date_issued_day_#{index}" %> class="date_issued date_issued_day"></select>
        <span class="date_label">
          <button  type="button" class="btn btn-link remove date_issued_remove" aria-hidden="false">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="controls-remove-text">Remove</span>
            <span class="sr-only"> date issued</span>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="form-group multi_value">
    <div id="date_issued_warning" class="message has-warning warning_message d_none" aria-hidden="true">
      cannot add another with empty field
    </div>
    <div id="date_issued_add_div" class="">
      <button id="date_issued_add_btn" type="button" class="btn btn-link add" onclick="date_issued_add('<%= model_type %>', '<%= key %>')">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="controls-add-text">Add another date issued</span>
      </button>
    </div>
  </div>
</div>
