<% model_type = f.object.model.class.to_s.underscore %>

<script type="text/javascript">

    //$(function() {
        tinymce.init({
          plugins: 'autolink link tabfocus paste lists advlist',
          setup: function (editor) {
            editor.on('change', function (e) {
              let model_type = '<%= model_type %>';
              if (model_type != 'collection') {
                toggle_submit(invalid_description());
              }
            });
          },
          selector: 'textarea.use_tinymce',
          menubar: false,
          statusbar: false,
          toolbar1: "italic | bullist numlist | undo redo | link  | removeformat",
          relative_urls: false,
        });
    //});

    function invalid_description() {
        /* will need to check to see if class has required in it if we have more
             than one textarea tinymce where one of them is not required but for now
             only one textarea tinymce description is rquired in the work except for collection.
             let class_str = $('#<%= model_type %>_description').prop('class'); or loop through
     $('.use_tinymce').each(function () {
       let class_str = $('#' + $(this).prop('class'));
       and check if it contains required string
     });
    */
        let desc_content = tinymce.get('<%= model_type %>_description').getContent();
        if (desc_content.length > 0) {
            $('#empty_description').addClass('d-none');
            $('#description_content').removeClass('has-error');
            return false;
        }
        $('#empty_description').removeClass('d-none');
        $('#description_content').addClass('has-error');
        return true;
    }

</script>

<% if model_type == 'collection' %>
  <% hint_desc = t('simple_form.hints.collection.description') %>
<% else %>
  <% hint_desc = t('simple_form.hints.defaults.abstract') %>
<% end %>

<div id="description_content" class="form-group managed <%= model_type %>_<%= key %> <% if f.object.required?(key) %>required<% end %>">
  <label class="control-label <% if f.object.required?(key) %> required <% end %>">
    <%= t('simple_form.labels.defaults.description') %>
    <% if f.object.required?(key) %><span class="label label-info required-tag">required</span><% end %>
  </label>
  <span id="empty_description" class="help-block d_none">Your work must have a description.</span>
  <p id="<%= model_type %>_<%= key %>_help" class="help-block"><%= hint_desc %></p>
  <ul class="listing" aria-live="polite">
    <li class="field-wrapper input-group input-append">
        <textarea name="<%= model_type %>[<%= key %>][]"
                  id="<%= model_type %>_<%= key %>"
                  rows="14"
                  
                  aria-labelledby="<%= model_type %>_<%= key %>_help"
                  style="width:500px"
                  class="use_tinymce form-control
                         <% if f.object.required?(key) %>required<% end %>
                         <% if !f.object.required?(key) %>optional<% end %>
                         <%= model_type %>_<%= key %>"><%= f.object.model.descriptions %></textarea>
    </li>
  </ul>
</div>
