<%#
  # OVERRIDE class from Hyrax v2.9.6
  # Customization: Piggy-back discipline field since description field is required and always there.
%>
<% model_type = f.object.model.class.to_s.underscore %>
<% if model_type == 'collection' %>
  <% hint_desc = t('simple_form.hints.collection.description') %>
<% else %>
  <% hint_desc = t('simple_form.hints.defaults.description') %>

  <script type="text/javascript">
    $(function() {
      tinymce.init({
          plugins: 'autolink link tabfocus paste lists advlist',
          <% if f.object.required?(key) %>
          setup: function (editor) {
                   editor.on('blur', function (e) {
                       scholarworks.update_tinymcearea(e);
                   });
               },
          <% end %>
          selector: 'textarea.description_tinymce',
          menubar: false,
          statusbar: false,
          toolbar1: "italic | bullist numlist | undo redo | link  | removeformat",
          relative_urls: false,
          valid_elements : "a[href|target=_blank],strong/b,em,i,p,ul,ol,li,br",
          add_form_submit_trigger : false
      });
    });
  </script>
<% end %>

<%# since we only can have one form at a time so description by itself is sufficient but just to be on the safe side
    prepending it with scholarworks
%>

<div id="description_content" class="form-group managed <%= model_type %>_<%= key %> <% if f.object.required?(key) %>required<% end %>">
  <label class="control-label <% if f.object.required?(key) %> required <% end %>">
    <%= t('simple_form.labels.defaults.description') %>
    <% if f.object.required?(key) %><span class="label label-info required-tag">required</span><% end %>
  </label>
  <span id="empty_description" class="help-block d_none">Your work must have a description.</span>
  <p id="<%= model_type %>_<%= key %>_help" class="help-block"><%= hint_desc %></p>
  <ul class="listing" aria-live="polite">
    <li class="field-wrapper input-group input-append">
        <textarea name="<%= model_type %>[<%= key %>][]"
                  id="scholarworks_<%= key %>"
                  rows="14"
                  aria-labelledby="<%= model_type %>_<%= key %>_help"
                  <% if f.object.required?(key) %> required="required" <% end %>
                  style="width:500px"
                  class="description_tinymce use_tinymce form-control
                         <% if f.object.required?(key) %>required<% end %>
                         <% if !f.object.required?(key) %>optional<% end %>
                         <%= model_type %>_<%= key %>"><%= f.object.model.descriptions %></textarea>
    </li>
  </ul>
</div>
