<% model_type = f.object.model.class.to_s.underscore %>
<% if model_type == 'collection' %>
  <% hint_title = t('simple_form.hints.collection.title') %>
<% else %>
  <% hint_title = t('simple_form.hints.defaults.title').html_safe %>

  <script type="text/javascript">
    $(function() {
      tinymce.init({
        <% if f.object.required?(key) %>
          setup: function (editor) {
              editor.on('blur', function (e) {
                scholarworks.update_tinymcearea(e);
              });
            },
          <% end %>
          selector: 'textarea.title_tinymce',
          menubar: false,
          statusbar: false,
          toolbar1: "italic | undo redo",
          relative_urls: false,
          valid_elements : "em",
          add_form_submit_trigger : false,
          remove_linebreaks: true
      });

      // register add and remove handler for all composite elements that have these classes
      $('.element_add').on('click', scholarworks.element_add);
      $('.element_remove').on('click', scholarworks.element_remove);

      // need to add event handler in case user blank out text in
      // tinymce of required field because hydra editor doesn't know about it
      $('input[name="<%= model_type %>[visibility]"]').each(function () {
        $(this).on('click', scholarworks.is_required_field_complete);
      });
      $('.hyrax_work_form_tab').each(function () {
          $(this).on('click', scholarworks.is_required_field_complete);
      });

      // form submit button handling
      $('#with_files_submit').click(function (e) {
          scholarworks.save_handler(e);
      });
    });
  </script>
<% end %>

<%# since we only can have one form at a time so title by itself is sufficient but just to be on the safe side prepending it with scholarworks %>
<div id="title_content" class="form-group managed <%= model_type %>_<%= key %> <% if f.object.required?(key) %>required<% end %>">
  <label class="control-label <% if f.object.required?(key) %> required <% end %>">
    <%= t('simple_form.labels.defaults.title') %>
    <% if f.object.required?(key) %><span class="label label-info required-tag">required</span><% end %>
  </label>
  <% if model_type != 'collection' %>
  <span id="empty_title" class="help-block d_none">Please enter a tittle.</span>
  <% end %>
  <p id="<%= model_type %>_<%= key %>_help" class="help-block"><%= hint_title %></p>
  <ul class="listing" aria-live="polite">
    <li class="field-wrapper input-group input-append">
        <textarea name="<%= model_type %>[<%= key %>][]"
                  id="scholarworks_<%= key %>"
                  aria-labelledby="<%= model_type %>_<%= key %>_help"
                  <% if f.object.required?(key) %> required="required" <% end %>
                  style="width:500px; "
                  class="title_tinymce use_tinymce form-control
                         <% if f.object.required?(key) %>required<% end %>
                         <% if !f.object.required?(key) %>optional<% end %>
                         <%= model_type %>_<%= key %>"><%= f.object.model.titles %></textarea>
    </li>
  </ul>
</div>
