

<script type="text/javascript" charset="utf-8">
  /*
    model_type = publication, thesis, etc
    composite_person is the actual object of creator, contributor
    key is a string with value of creator, contributor, etc
    which would match to person_type as an parameter for most of the routines
    key_cnt -> creator_cnt, editor_cnt which are accessed through window[elem_class + '_cnt'] where elem_class is creator, editor, etc...
    cur_key_num -> cur_creator_num, cur_editor_num which are accessed through window['cur_' + elem_class + '_num'] where elem_class is creator, editor, etc...
   */
  var <%= key %>_cnt = 0;
  var cur_<%= key %>_num = 0;

  $(function() {
    $('#<%= key %>_content').addClass('<%= model_type %>_<%= key %>');
    $('.<%= key %>').each(function () {
        <%= key %>_cnt++;
    })
    cur_<%= key %>_num = <%= key %>_cnt;
    // console.log('initialization: <%= key %> num ' + cur_<%= key %>_num + ' <%= key %>_cnt ' + <%= key %>_cnt);
    if (<%= key %>_cnt <= 1) {
        $('.<%= key %>_remove').addClass('d_none').attr('aria-hidden', 'true');
    }

  });
</script>

<div id="<%= key %>_content" class="form-group multi_value managed <% if f.object.required?(key) %>required<% end %>">
  <label id="<%= key %>_label" class="control-label">
    <%= t("simple_forms.labels.#{key}") %>
    <% if f.object.required?(key) %><span class="label label-info required-tag">required</span><% end %>
  </label>

  <span id="empty_<%= key %>" class="help-block d_none">Your work must have a <%= key %>.</span>

  <p class="help-block"><%= help_block_str %></p>

  <div id=<%= "#{key}_divs" %> aria-live="polite">
    <% composite_person.each_with_index do |name, index| %>
      <% if index > 0 %>
        <div id=<%= "#{key}_divider#{index}" %> class="row divider <%= key %>_divider"></div>
      <% end %>
      <div id=<%= "#{key}#{index}" %> class="row <%= key %>_div flex_center">
        <input type="hidden" name="<%= model_type %>[<%= key %>][]" id="<%= key %><%= index %>" value="<%= name %>" class="<%= key %>" data-element-num="<%= index %>" />
        <div class="col-xs-8">
          <div class="label_input_div">
            <label for=<%= "#{key}_name#{index}" %> class="label_field">
              <span class="sr-only"><%= key %> </span>
              Name
              <% if f.object.required?(key) %><span class="label label-info required-tag">required</span><% end %>
            </label>
            <input type="text"
                   id="<%= key %>_name<%= index %>"
                   value=""
                   <% if f.object.required?(key) %>required="required"<% end %>
                   aria-required="<%= f.object.required?(key) %>"
                   class="string multi_value <%= key %>_name margin_bottom_10 multi-text-field multi_value input_field <% if f.object.required?(key) %>required<% end %>" />
          </div>
          <div class="label_input_div">
            <label for="<%= key %>_email<%= index %>" class="label_field">
              <span class="sr-only"><%= key %></span>
               Email
              </span>
            </label>
            <input type="email"
                   id="<%= key %>_email<%= index %>"
                   value=""
                   class="<%= key %>_email margin_bottom_10 multi-text-field multi_value input_field" />
          </div>
          <div class="label_input_div">
            <label for="<%= key %>_institution<%= index %>" class="label_field">
              <span class="sr-only"><%= key %> </span>
              Institution
              </span>
            </label>
            <input type="text"
                   id="<%= key %>_institution<%= index %>"
                   value=""
                   class="<%= key %>_institution margin_bottom_10 multi-text-field multi_value input_field" />
          </div>
          <div class="label_input_div">
            <label for="<%= key %>_orcid<%= index %>" class="label_field">
              <span class="sr-only"><%= key %> </span>
              ORCID
              </span>
            </label>
            <input type="text"
                   id="<%= key %>_orcid<%= index %>"
                   value=""
                   class="<%= key %>_orcid person_orcid margin_bottom_10 multi-text-field multi_value input_field"
                   data-element-class="<%= key %>"
                   data-element-num="<%= index %>" />
            <span id="<%= key %>_orcid_error<%= index %>"
                  class="<%= key %>_orcid_error person_orcid_error error text-danger margin_bottom_10 d_none"
                  role="alert"
                  aria-hidden="true">
              must be a string of 19 characters, e.g., '0000-0000-0000-0000'
            </span>
          </div>
        </div>
        <div class="col-sm">
            <button type="button"
                    class="btn btn-link remove element_remove <%= key %>_remove"
                    aria-hidden="true"
                    data-element-class="<%= key %>"
                    data-element-num="<%= index %>" >
              <span class="glyphicon glyphicon-remove"></span>
              <span class="controls-remove-text">Remove</span>
              <span class="sr-only"> <%= key_text %> <span id="remove_<%= key %>_aria<%= index %>"><%= name %></span></span>
            </button>
        </div>

      </div>
    <% end %>
  </div>
  <div class="form-group multi_value">
    <div id="<%= key %>_warning" class="row small_margin_left message has-warning warning_message d_none" aria-hidden="true">
      cannot add another with empty field
    </div>
    <div class="small_margin_left">
      <button type="button" class="btn btn-link add element_add" data-element-class="<%= key %>">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="controls-add-text">Add another <span class="text-capitalize"><%= key_text %></span></span>
      </button>
    </div>
  </div>
</div>
